:root {
    /* Main Colors */
    --header-bg: #fff;
    --body-bg: #F3F5F8;
    --footer-bg: linear-gradient(180deg, #2E5495 0%, #1D3660 100%);
    /* Font Colors */
    --nav-link: #1E3762;
    --nav-link-active: #D45C1E;
    --footer-nav-link: #fff;
    --bredcrambs: #000;
    --breadcrams-active: #C4C4C4;
    --copyright: #7D7D7D;
    --content-title__text: #1D3660;
    --service-active: #fff;
    --service: #2E5495;
    --service-hover: #5076b9;
    --service-text-header: #052763;
    --callback-popup: #FF742D;
    --header-contacts-email: #FF742D;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg);
    min-width: 650px;
    height: 100vh;
}
.link, .link:visited, .link:hover, .link:focus, .link:visited {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
    letter-spacing: inherit;
}

.wrapper {
    max-width: 1196px;
    margin: 0 auto;
}

.nav-link, .nav-link:visited, .nav-link:hover, .nav-link:focus,
.content-breadcrumbs__link, .content-breadcrumbs__link:visited,
.content-breadcrumbs__link:hover, .content-breadcrumbs__link:focus {
    color: var(--nav-link);
    text-decoration: none;
}
.nav-link-active, .nav-link-active:visited, .nav-link-active:hover, .nav-link-active:focus,
.content-breadcrumbs__link-active, .content-breadcrumbs__link-active:visited,
.content-breadcrumbs__link-active:hover, .content-breadcrumbs__link-active:focus {
    color: var(--nav-link-active);
    text-decoration: none;
}

.nav-link-active::after {
    content: "";
    display: block;
    position: relative;
    top: 17px;
    width: inherit;
    height: 5px;
    background-color: var(--callback-popup);
    transform: scaleX(1.3);
}

.content-breadcrumbs__list {
    display: flex;
    list-style: none;
    margin: 0 0 0 11px;
    padding: 0;
}
.content-breadcrumbs__list-item {
    margin: 32px 0 0 0;
}
.content-breadcrumbs__list-item:nth-child(n+2) {
    margin-left: 10px;
    padding-left: 5px;
    list-style-type: "-";
}
.content-title {
    margin: 74px 0 0 0;
}
.content-title__text {
    /* padding-top: 69px; */
    margin: 0 0 15px 0;
    padding-left: 20px;
    font-size: 48px;
    font-weight: 600;
    color: var(--content-title__text);
    letter-spacing: 0.05em;
}

.content-box {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0 20px;
    background-color: #fff;
}
.content-box__text-title {
    letter-spacing: 0.05em;
}

.main-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/main-bg/main-bg-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    opacity: 0.7;
    z-index: -1;
}

