header {
    height: 145px;
    background-color: var(--header-bg);
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: space-between;
}

.header-box {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.header-box-company__logo {
    margin: 25px 0 0 0;
    width: 233px;
    height: 50px;
}
.header-box-company__logo img {
    width: inherit;
    height: inherit;
}

.header-box-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    margin: 32px 17px 20px 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 0.05em;
    color: var(--header-contacts-email);
}

.header-box__contacts__phone {
    display: inherit;
    flex-direction: column;
    color: #2A4C87;
}
.header-box__contacts__email {
   
}

.navigation {
    display: flex;
    margin: auto 0 0 0;
}
.navigation-list {
    display: flex;
    list-style: none;
    margin: 0 0 17px 0;
    padding: 0;
    text-transform: uppercase;
}

.navigation-list__item {
    margin: 0 0 0 12px;
    font-size: 13px;
}
.navigation-list__item:nth-child(n+2) {
    margin: 0 0 0 30px;
}
.navigation-menu-button {
    --burger-width: 47px;
    --burger-color: #FF742D;
    --burger-top: -14px;
    --burger-bottom: 14px;
    --burger-thin: 3px;
    display: none;
    position: relative;
    width: var(--burger-width);
    height: 33px;
    margin: 0 0 0 46px;
}

.navigation-burger {
    position: absolute;
    width: var(--burger-width);
    height: var(--burger-thin);
    background: var(--burger-color);
    top: 15px;
    border-radius: 1px;
}
.navigation-burger::before {
    content: "";
    position: absolute;
    display: inherit;
    width: var(--burger-width);
    height: var(--burger-thin);
    background: var(--burger-color);
    top: var(--burger-top);
    border-radius: 1px;
}
.navigation-burger::after {
    content: "";
    position: absolute;
    display: inherit;
    width: var(--burger-width);
    height: var(--burger-thin);
    background: var(--burger-color);
    top: var(--burger-bottom);
    border-radius: 1px;
}

.navigation-menu-button__title {
    position: relative;
    left: 40px;
    top: 7px;
}