/* MAIN */
.content-box {
    flex-direction: row;
    padding: 0 30px 100px;
}
.content-title__text {
    margin: 0 0 15px 0;
}

.content-box__text{
    width: 50%;
}
.content-box__text-title {
    margin: 24px 0 16px 0;
    font-weight: bold;
    font-size: 18px;
}

.content-box__text-p {
    margin: 0 30px 24px 0;
}

.content-box__gallery {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 60px 0 0 0;
}

.content-box__gallery img {
    width: 100%;
    max-height: 312px;
}
