/* MAIN */
main {
    /* height: 1000px; */
    margin-bottom: 31px;
}

.content-title__text {
    margin: 0 0 15px 0;
}

.content-box {
    margin: 0 0 28px 0;
}

.content-box__text {
    margin: 34px 0 26px 0;
    padding: 0 25px;
    border: 1px solid #2A4C87;
    box-sizing: border-box;
    border-radius: 5px;
}

.content-box__text-title {
    margin: 24px 0 16px 0;
    font-weight: bold;
    font-size: 18px;
    color: #052763;
}

.content-box__text-p {
    margin: 0 0 24px 0;
}

.content-box__text-button {
    margin: 0 0 59px 0;
    border-radius: 5px;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0.465em;
}

.content-box__text-button__link {
    display: block;
    height: 39px;
    padding: 0 0 0 50px;
    background-color: #FF742D;
    border-radius: 5px;
}

.content-box__text-button__link span {
    position: relative;
    top: 5%;
}
.link__arrow {
    display: inline-block;
    position: relative;
    top: 20%;
    width: 10px;
    height: 22px;
    background-image: url('../../../img/svg/link-arrow.svg');
}

.content-box__text-button__link:hover .link__arrow {
    position: relative;
    background-image: url('../../../img/svg/link-arrow.svg');
    animation: link-arrow;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes link-arrow {
    0% {
        left: 0px;
    }
    50% {
        left: 10px;
    }
    100% {
        left: 0px;
    }

}